
name: CI


on:
  
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

 
  workflow_dispatch:


jobs:
  Build:

    runs-on: ubuntu-latest



    steps:
    - name: checkout code
      uses: actions/checkout@v3
    - name: Use Node.js 14
      uses: actions/setup-node@v3
      with:
        node-version: 14.x
        cache: 'npm'
    - name: npm CI and webpacks
      run: |
            npm ci
            npm run build --if-present 
    - name: upload atrifacts
      uses: actions/upload-artifact@v3
      with:
            name: webpack-artifact
            path: public/

  Test:

    runs-on: ubuntu-latest
    needs: Build
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
        on: [ubuntu-latest, windows-2016]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
      with:
        name: webpack-artifact
        path: public
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: npm CI and Tests
      run: |
             npm ci 
             npm test -- -u
